@font-face {
  font-family: "InterRegular";
  src: url(./assets/fonts/Inter-Regular.ttf) format("truetype");
}

:root {
  font-family: "InterRegular", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--chakra-colors-text-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--chakra-colors-bg-primary);
}